body {
    font: 12px/14px sans-serif;
}
#header h1{
    background: none repeat scroll 0 0 #EEEEEE;
    color: #79B30B;
    height: 80px;
    line-height: 80px;
    margin: 0;
    text-align: center;
}
#footer {
    background-color: #8C8887;
    color: #FFFFFF;
    margin: 1em 0;
    clear: both;
    width: 100%;
    padding: 1em;
}
#footer p {
    margin: 0 1em;
}
#wrapper {
    float: left;
    margin: 0 20% 0 0;
}
#content {
    background-color: #CF7F18;
    overflow: hidden;
}
#sidebar {
    background-color: #7A1846;
    overflow: hidden;
}
#navigation {
    background-color: #147AA3;
    overflow: hidden;
    float: left;
    width: 20%;
    margin: 0 0 0 -20%;
}
